---
import "../styles/global.css";

type Props = { title: string };

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full bg-slate-950">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-full items-center justify-center text-slate-100">
    <slot />
  </body>
</html>
